.App {
  background-color: azure;
}

.item {
  background-color: khaki;
  line-height: 1.5rem;
  padding: 10px 10px;
  margin-bottom: 1rem;
  border: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
  transition: all 0.3s linear;
  color: black;
  border-radius: 1rem;
}
.item:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transform: scale(1.05);
  /* border-radius: 1rem; */
}
/* .Navbar {
  background-color: darkslateblue;
  font-size: 18px;
  text-align: center;
  color: black;
  margin-bottom: 10px;
} */

.clear-btn {
  color: red;
  border: none;
  margin-right: 5px;
}
.edit-btn {
  color: green;
  border: none;
  margin-right: 5px;
}
.weather-btn {
  color: white;
  font-size: 35px;
}
.check-btn {
  color: purple;
  border: none;
}
.delete-all {
  border-radius: 2rem;
  font-size: small;
}
.info {
  flex: 0 0 60%;
  display: flex;
  justify-content: space-between;
}
h1 {
  text-align: center;
  text-transform: capitalize;
  margin: 2rem 0;
  color: pink;
  font-family: "Roboto", sans-serif;
}
h3 {
  text-align: center;
  text-transform: capitalize;
  margin: 2rem 0;
  color: linen;
  font-style: oblique;
  font-family: "Roboto", sans-serif;
}

.sub-card {
  background-color: papayawhip;
  color: teal;
  border-radius: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.joke-card {
  background-color: cadetblue;
  color: white;
  border-radius: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: smaller;
}
.quote-card {
  background-color: cadetblue;

  /* background-color: darkkhaki; */
  color: white;
  border-radius: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: smaller;
}
.pic-card {
  font-size: smaller;
  background-color: cadetblue;
  /* background-color: dimgray; */
  color: white;
  border-radius: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.date-picker {
  font-size: smaller;
  background-color: chocolate;
  color: white;
  border-radius: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.sport-card {
  font-size: smaller;
  background-color: limegreen;
  color: white;
  border-radius: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.weather-card {
  font-size: small;
  background-color: cadetblue;

  /* background-color: darkred; */
  color: white;
  border-radius: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.card-img {
  height: 200px;
  padding: 10px;
}
/* .quote {
  font-style: italic;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
} */
