/* .App {
  background-color: antiquewhite;
} */
#root {
  background-color: black;
}
.item {
  background-color: lightcyan;
  line-height: 1.5rem;
  padding: 10px 10px;
  margin-bottom: 1rem;
  border: 1px solid #e0e0e0;
  display: flex;
  justify-content: space-between;
  transition: all 0.3s linear;
  color: black;
  border-radius: 2rem;
}
.item:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transform: scale(1.05);
  border-radius: 2rem;
}
.Navbar {
  background-color: lightcyan;
  font-size: large;
  text-align: center;
}
.clear-btn {
  color: red;
  border: none;
  margin-right: 5px;
}
.edit-btn {
  color: green;
  border: none;
  margin-right: 5px;
}
.check-btn {
  color: purple;
  border: none;
}
.delete-all {
  border-radius: 2rem;
  font-size: small;
}
.info {
  flex: 0 0 60%;
  display: flex;
  justify-content: space-between;
}
h1 {
  text-align: center;
  text-transform: capitalize;
  margin: 2rem 0;
  color: white;
  font-family: "Roboto", sans-serif;
}
h3 {
  text-align: center;
  text-transform: capitalize;
  margin: 2rem 0;
  color: linen;
  font-style: oblique;
  font-family: "Roboto", sans-serif;
}

.sub-card {
  color: linen;
  background-color: purple;
  border-radius: 2rem;
  margin-top: 2rem;
}
/* .sub-card:hover {
  background-color: purple;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transform: scale(1.05);
} */
